*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}
.form{
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.form-control{
    margin-bottom: 20px 0;
}
.form-control label{
    display: inline-block;
    margin-bottom: 10px;
}
.form-control input{
    display:block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.form-control p{
    color: red;
    font-size: 15px;
    visibility: hidden;
}
#submit{
    width:100%;
    padding: 10px;
    background-color: #089672;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}